*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: gray;
    font-family: Georgia, 'Times New Roman', Times, serif;
    outline: none;
}
.container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Calculator{
    background-color: #F7FFF6;
    padding: 15px;
    border-radius: 30px;
    box-shadow: inset 5px 5px 12px #f7fff6
                      5px 5px 12px rgba(0, 0, 0, .16);
    display: grid;
    grid-template-columns: repeat(4, 80px);
}
input{
    background-color: #efefef;
    grid-column: span 4;
    height: 70px;
    width: 320px ;
    padding: 20px;
    box-shadow: inset -5px -5px 12px #ffffff
                inset  5px 5px 12px rgba(0, 0, 0, .16);
    border: none;
    border-radius: 25px;
    color: rgb(70, 70, 70);
    font-size: 45px;
    text-align: end;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 30px;

}

button{
    height: 48px;
    width: 48px;
    border-radius: 50%;
    background-color: #e67e22;
    box-shadow: -5px -5px 12px #ffffff
                 5px  5px 12px rgba(0, 0, 0, .16);
    border: none;
    margin: 8px ;
}
button:hover{
    border: 2px solid #e67e22;
  background-color: transparent;
}

.equal{
    width: 122px;
    border-radius: 40px;
    box-shadow: -5px -5px 12px #ffffff
                 5px  5px 12px rgba(0, 0, 0, .16);
}